.pokeMain {
  padding-left: 50px;
}
.mainList_item {
  margin-top: 50px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  text-transform: capitalize;
}
.favourite {
  border-color: #70a89e;
  background-color: #696969;
}
.cards {
  border: red solid 5px;
  border-radius: 60px;
  width: 200px;
  height: 300px;

  &_names {
    margin-left: 5px;
    padding-left: 5px;
    background-color: lightcoral;
    font-family: "Pokemon";
    width: 180px;
    border-radius: 20px;
  }
  &_types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;

    &_item {
      margin-bottom: 10px;
      align-items: center;
      background-color: lightyellow;
      height: 30px;
      width: 80px;
      border-radius: 50px;
    }
  }
}
